@font-face {
  font-family: 'metropolisbold';
  font-display: fallback;
  src: url("../../assets/fonts/metropolis-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/metropolis-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'metropolisregular';
  font-display: fallback;
  src: url("../../assets/fonts/metropolis-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/metropolis-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

select:first-child {
  margin-right: 15px;
  width: 300px; }

.container {
  display: flex;
  justify-content: center;
  width: 100%; }
