// Putting generic classes that can be used across site
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

select:first-child {
  margin-right: 15px;
  width: 150px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

.table-container {
  display: block;
  margin: 30px auto 0 auto;
  width: 70%;
}

