table {
  border-collapse: collapse;
  border: 1px solid #000000;
  margin: 0 auto;
}

td, th {
  background: #ccc;
  border: 1px solid #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center; 
  padding: 10px;

}

select, input {
  padding: 5px;
  border: 1px solid #ccc;
}


.table-container {
  display: block;
  margin: 30px auto 0 auto;
  width: 100%;
}

.in_month {
  background-color: #88aedd;
  cursor: pointer;

  &:hover {
    background-color: #0c1014;
    color: #ffffff;
  }
}

.not_in_month {
  background-color:#1eafdb;
}

.label-holder {
  display: flex;
  justify-content: center;  
  width: 100%;
}
